# Copy this file to .env and fill in your credentials
# NEVER commit .env to git

# Kaggle API credentials (for dataset download)
KAGGLE_USERNAME=thomascooper22 
KAGGLE_KEY=KGAT_13b13c7e3d3895791a69cf3befef04c5

# GeoNames API (free account at geonames.org)
GEONAMES_USERNAME=your_geonames_username

# Reddit API (create app at reddit.com/prefs/apps)
REDDIT_CLIENT_ID = "G6R7wy_ArTl2L3zuqFB8sA"
REDDIT_CLIENT_SECRET = "H1Hv2Ys46-wkgJmD4B6_gL-3-ACGHw"
REDDIT_USER_AGENT = "Flimsy_Mouse_622"

